# Default values for the Docker composition
# IMPORTANT: Copy it to `.env` in order for it to be taken into account by `docker compose up`
# REMARK: A `.env` file can be overriden with inline definitions `TEE_OPT_BASEPATH=/Users/teevity/opt/teevity docker compose up -d`
TEE_OPT_BASEPATH=/opt/teevity
